# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular Languages used in Data Science
- Commonly used Libraries in Data Science
- Some Data Science tools explained in tabluar format

Some of the popular languages that Data Scientists use are:

1. C
2. C++
3. Python

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. NumPy
4. SciPy

| Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| PyCharm           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Parth Rakesh Vasavada